
{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- Start top-section Area -->
            <section class="top-section-area section-gap">
                <div class="container">
                    <div class="row justify-content-center">
                              <div class="col-lg-6" style="border:2px solid #eee; padding:20px;background:#fff">



                        {% if form.errors %}

                            {% for key,value in form.errors.items %}

                            <div class="alert alert-danger">
                                {{ value }}
                            </div>


                            {% endfor %}


                        {% endif %}

                        <h3 style="text-align:center">Şifreni Değiştir</h3>
                        <p style="text-align:center;margin-top:20px; margin-bottom:20px">Yazılarınızı bizimle paylaşmak için bize katılın.</p>
                        <form method="post">
                            {% csrf_token %}
                            	{{ form.as_p }}
                           <div class="mt-20" style="text-align:center">

                            <button type="submit" class="nw-btn primary-btn">Şifreyi Değiştir</button>
                               </div>

                        </form>


                    </div>

                    </div>
                </div>
            </section>
            <!-- End top-section Area -->



        <!-- End post Area -->
    </div>
    <!-- End post Area -->

{% endblock %}